{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'shopping/css/style3.css' %}"></link>
		</head>
	<body>
		{% include 'admins/header.html' %}
		{% for message in messages %}
			<div class="message">
				<span>{{message}}</span>
				<i class="fas fa-times" onclick="this.parentElement.style.display = `none`;"></i>
			</div>
		{% endfor %}
		<br>
		<br>
		<br>
		{% block content %}{% endblock %}
		<script src="{% static 'shopping/js/script.js' %}"></script> 
	</body>
</html>